header{

    font-family: 'Montez', cursive; 
    color: blue;
    padding: 1%;
 
    


}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: #ffeedd;
   
}

#id1
{
    float: left;
    font-size: 200%;
}

#id2
{
    float: right;
}

.name
{
    
    width: fit-content;
    justify-content:space-between;
    background-color: white;
    border-left: hidden;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
}

.content
{

    width: 90%;
    background-color: rgb(194, 190, 190);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 5%;
    
    
    



    

    



}

#id3{
    font-family: 'Ubuntu Mono', monospace;
    color: black;
}

.board
{
   margin-top: 2%;
   width:45%;
  
   
  
  
    font-size: small;
    display: flex;
    flex-direction: row;
   
    




   
   
   
  
  
    

}

.container
{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.pointer {
    cursor: pointer;
  }

  .test
  {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  
    overflow: hidden;
    text-overflow:" "; 
    
  }


  .board:hover{

   

    -webkit-box-shadow: 0px 0px 100px 0px red;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 0px 100px 0px red;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 20px 15px #ccc;
  }
